body,
html {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.lato {
    font-family: Lato, sans-serif;
    font-size: 12px;
}

h2 {
    color: #fff;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-weight: bolder;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    opacity: 0;
    transition: all 1s ease;
    display: inline-block;
    transform: translateY(50px);
    animation-delay: 1s;
}

span.fade{
    opacity: 1;
    transform: translateY(0px);
}




p {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 500;
}

h3 {
    text-transform: uppercase;
    font-size: 10px;
    margin: 0;
    padding-top: 13px;
    letter-spacing: 1px;
}

/* hero css starts here */
.hero {
    height: auto;
    width: 100vw;
    max-height: 600px;
}

.hero-wrapper{
    margin: 0px;
    padding: 0px;
    max-height: 600px;
    height: 100%;
}

.hero-img {
    filter: brightness(0.7);
    max-width: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 300px;
    width: 100%;
    height: auto;
    opacity: 0.88;
    color: #fff;
    background-color: #192841;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* hero css ends here */

/* content css starts here */
.content-wrapper {
    padding: 35px
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 50px;
}

.content-item {
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    background-color: #fff;
}

.content-wrapper {
    margin: 0;
    padding: 5px auto;
}

.dot {
    display: flex;
    border: 4px solid #192841;
    background-color: #fff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    width: 110px;
    height: 100px;
    z-index: -2;
    position: absolute;
}

.fancy {
    color: #00acee;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.fancy1 {
    color: #00acee;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.fancy2 {
    color: #00acee;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.text-container {
    margin: 10px;
    padding: 15px;
}
/* content css ends here */

/* iPad break 768px page break */
@media only screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        line-height: 35px;
    }
    .content-item {
        line-height: 50px;
    }

    .fancy {
        font-size: 50px;
    }

    .hero {
        overflow: hidden;
    }

    .hero-text {
        max-height: 600px;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .hero-img {
        width: 100%;
        object-fit: cover;
        height: 600px;
    }
    .dot {
        opacity: 0;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 16px !important;
    }

    .lato {
        font-size: 1em;
    }

    p {
        font-size: 15px;
        font-weight: 500;
    }

}
